@tailwind components;

@layer components {
  .project-card {
    @apply bg-surface-light dark:bg-surface-dark rounded-lg shadow-md overflow-hidden hover:shadow-xl hover:-translate-y-1.5 transition-all duration-200 ease-in-out;
  }

  /* Project image container */
  .project-image-wrapper {
    @apply relative w-full h-48 block;
  }

  /* Project card content */
  .project-card-content {
    @apply p-6 space-y-4;
  }

  /* Project title link */
  .project-title {
    @apply text-xl font-bold text-text-light dark:text-text-dark hover:text-primary-light dark:hover:text-primary-dark transition-all
    items-center;
  }

  /* GitHub icon link */
  .project-github {
    @apply text-gray-400 dark:text-gray-400 hover:text-primary-light dark:hover:text-primary-dark transition-all hover:scale-110 items-center;
  }

  /* Project description text */
  .project-description {
    @apply text-text-light dark:text-text-dark;
  }

  /* Project tech links container */
  .project-tech-links {
    @apply flex flex-wrap justify-center gap-3 w-full;
  }

  /* Individual tech link */
  .project-tech-link {
    @apply px-3 py-1 rounded text-sm 
          bg-primary-light/20 dark:bg-primary-dark/20
          text-primary-light dark:text-primary-dark
          hover:scale-110 transition-all duration-300 ease-in-out;
  }

}