@tailwind components;

@layer components {
  .section {
    @apply flex flex-col px-8 py-20;
  }

  .section-title {
    @apply text-3xl font-bold mb-6 text-primary-light dark:text-primary-dark;
  }

  .section-body {
    @apply max-w-4xl text-gray-900 dark:text-gray-100;
  }

}