@tailwind components;

@layer components {
  .theme-toggle {
    @apply relative p-2.5 rounded-lg
          bg-primary-light dark:bg-primary-dark 
          text-text-light dark:text-text-dark 
          /* hover:scale-110 hover:shadow-xl */
          hover:bg-dimmed-light dark:hover:bg-dimmed-dark
          transition-all duration-300 ease-in-out
          shadow-md dark:shadow-lg;
  }

  /* Icon wrapper */
  .theme-toggle-icon {
    @apply relative w-5 h-5;
  }

  /* Sun icon */
  .theme-sun {
    @apply absolute inset-0 w-5 h-5 text-white transition-all duration-300;
  }

  .theme-sun-active {
    @apply opacity-100 rotate-0 scale-100;
  }

  .theme-sun-inactive {
    @apply opacity-0 rotate-90 scale-0;
  }

  /* Moon icon */
  .theme-moon {
    @apply absolute inset-0 w-5 h-5 text-white transition-all duration-300;
  }

  .theme-moon-active {
    @apply opacity-100 rotate-0 scale-100;
  }

  .theme-moon-inactive {
    @apply opacity-0 -rotate-90 scale-0;
  }
}